@model EcoVolt.Models.GsCidade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GsCidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.CodEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodCidade">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
